/* Main background styles */
body {
  background-color: #2e3440 !important;
}

.css-1dbjc4n 
.r-1habvwh{
  background-color: #2e3440 !important;
}

.css-1dbjc4n 
.r-1h3ijdo {
  background-color: #2e3440 !important;
}
.css-1dbjc4n 
.r-yfoy6g 
.r-oyd9sg{
  background-color: #2e3440 !important;
}
.css-1dbjc4n 
.r-1iusvr4 
.r-16y2uox 
.r-1777fci 
.r-1h8ys4a 
.r-1bylmt5 
.r-13tjlyg 
.r-7qyjyx 
.r-1ftll1t {
  background-color: #2e3440 !important;
}
.css-1dbjc4n 
.r-184en5c {
  background-color: #2e3440 !important;
}
.css-1dbjc4n 
.r-16y2uox 
.r-1wbh5a2 {
  background-color: #2e3440 !important;
}
.css-1dbjc4n 
.r-yfoy6g 
.r-1f1sjgu {
 background-color: #2e3440 !important;
}

/* Hover effect */
.r-3al2xr {
background-color: #4c566a !important;
}
.r-1vtznih {
  background-color: #4c566a !important;
}
.r-g6ijar {
  background-color: #4c566a !important;
}


/* Tweet Hover */
.css-1dbjc4n 
.r-1cuuowz {
  background-color: #2e3440 !important;
}

/* Secondary Color */
.r-l5o3uw {
  background-color: #81a1c1 !important;
}
.r-1cvl2hr {
    color: #81a1c1 !important;
}

.css-1dbjc4n.r-1mnxbyr {
  background-color: #2e3440 !important;
}

/* Likes */
div[style*="color: rgb(249, 24, 128)"]{
  color: #bf616a !important;
}
/* Retweets */
div[style*="color: rgb(0, 186, 124)"]{
  color: #a3be8c !important;
}

